<footer>
    <div class="container">
       <div class="col-md-6 col-sm-6 footer-menu">
        <ul>
          <li><a href="javascript:void(0)">English (US) ·</a></li>
        <li><a href="javascript:void(0)">Privacy ·</a></li>
        <li><a href="javascript:void(0)">Terms ·</a></li>
        <li><a href="javascript:void(0)">Cookies ·</a></li>
        <li><a href="javascript:void(0)">Advertising</a></li>
      </ul>
   </div>
   <div class="col-md-6 col-sm-6 copyright">
        AVATAR © 2019
   </div>
   </div>	  
</footer>