<div class="loading" *ngIf="isLoading">
  <span>
    <label>{{dynamicText}}</label>
    <br><img id="loading-image" src="assets/images/spinner.gif" alt="Loading..." /><br>
    <label>Please do not leave or close this page.</label>
  </span>
</div>
  <div class="login-wrapper">
   <div class="container login-container">
    <div class="login-form" method="post">
      <div class="logo">
        <a href="#"><img src="assets/images/loginlogo.png" alt="Login Logo"></a>
    </div>
    <div class="login-formfield">
      <div class="login-form-top">
         <h3>My Bank Home Page</h3>
         <h3><b>Mandate confirmation</b></h3>
       <div class="form-group">
          <input type="email"  id="Email"  
         maxlength="50"  name="Email"  pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$' placeholder="Email / Username" class="form-control" required autofocus >
       </div>
       <div class="form-group">
          <input type="password" placeholder="Password" id="inputPassword" maxlength="15" minlength="7" name="Password" class="form-control" required>
       </div>
       <div class="form-group">
          <!-- <div class="checkbox-inline">
                       <label><input type="checkbox" value="">Remember Me</label>
                   </div> -->
       <!-- <a href="#" class="pull-right forgot-passwordlink">Forgot Password?</a> -->
       </div>
       <div class="form-group">
         <button class="btn btn-success login-button" type="submit" (click)="AgreeAndConfirm()">Agree and confirm</button>
       </div>
       <div class="form-group">
         <button class="btn btn-danger" type="button" disabled="true">Cancel</button>
       </div>
      </div>
    
    </div>
  </div>
 </div>
</div>



  <!-- <script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script> -->
