<div class="loading" *ngIf="isLoading">
  <span>
      <img id="loading-image" src="assets/images/spinner.gif" alt="Loading..." />
      <label>Please Wait....</label>
  </span>
</div>
<form   (ngSubmit)="loginSubmit(loginForm)" #loginForm="ngForm" role="form" novalidate>
  <div class="login-wrapper">
   <div class="container login-container">
    <div class="login-form" method="post">
      <div class="logo">
        <a href="#"><img src="assets/images/loginlogo.png" alt="Login Logo"></a>
    </div>
    <div class="login-formfield">
      <div class="login-form-top">
         <h3>Sign In with Email</h3>
       <div class="form-group">
          <input type="email"  id="Email" [(ngModel)]="loginModel.Email" 
          #Email="ngModel" maxlength="50"  name="Email"  pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$' placeholder="Email / Username" class="form-control" required autofocus >
          <div *ngIf="loginForm.submitted && Email.errors && (Email.dirty || Email.touched)" class="error">
            <div [hidden]="!Email.errors.required">
              *Email Id is required
            </div>
            <div [hidden]="!Email.errors.maxlength">
              *Email Id cannot be more than 50 characters long.
            </div>
            <div [hidden]="!Email.errors.pattern">
             *Email is not valid
            </div>
          </div>
       </div>
       <div class="form-group">
          <input type="password" placeholder="Password" #Password="ngModel" id="inputPassword" maxlength="15" minlength="7" name="Password" [(ngModel)]="loginModel.Password" class="form-control" required>
          <div *ngIf="loginForm.submitted && Password.errors && (Password.dirty || Password.touched)" class="error">
            <div [hidden]="!Password.errors.required">
              *Password is required
            </div>
            <div [hidden]="!Password.errors.maxlength">
              *Password cannot be more than 15 characters long.
            </div>
            <div [hidden]="!Password.errors.minlength">
              *Password cannot be less than 8 characters long.
            </div>
      
          </div>
       </div>
       <div class="form-group">
          <!-- <div class="checkbox-inline">
                       <label><input type="checkbox" value="">Remember Me</label>
                   </div> -->
       <!-- <a href="#" class="pull-right forgot-passwordlink">Forgot Password?</a> -->
       </div>
       <div class="form-group">
         <button class="btn btn-primary login-button" type="submit">Sign in</button>
       </div>
       <div class="form-group">
         <button class="btn" type="button" disabled="true">Need An Account?</button>
       </div>
      </div>
      <div class="login-form-bottom">
           <button class="btn btn-primary facebook-button" type="button">Continue with Facebook <i class="fa fa-facebook pull-right" aria-hidden="true"></i></button>
       <button class="btn btn-info" type="button">Continue with Twitter <i class="fa fa-twitter pull-right" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
 </div>
</div>



  <script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>


</form>