<section class="home-search">
  <div class="container">
       <div class="col-md-8 col-sm-8 p-0">
       <div class="input-group">
       <input type="text" class="form-control" placeholder="Search for...">
       <span class="input-group-btn">
       <button class="btn btn-primary homesearch-button" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
       </span>
     </div><!-- /input-group -->
   </div>
   <div class="col-md-4 col-sm-4 pr-0">
       <button class="btn btn-primary approvedloan-button pull-right">Click For Pre-approved Loan</button>
   </div>
</div>
</section>
<section class="products">
  <div class="container">
     <div class="col-md-12 p-0 text-center">
 <a href="javascript:void(0)">
    <div class="products-image">
       <img src="assets/images/iphonex.png" class="img-responsive">
    </div>
    <div class="products-content">
          <h3>Apple iPhone X (Silver, 64 GB)</h3>
      <p><b>Price:</b> 90,000.00</p>
    </div>
  </a>	   
 </div>
</div>
</section>
<section class="product-details">
 <div class="container">
 <div class="main-heading">
       Product Details
 </div>
<div class="products-detailscontent col-md-4 col-md-offset-4 col-sm-12">
  <ul>
     <li>
    14.73 Centimeters (5.8 inch) Capacitive touchscreen with 2436 X 1125 pixels resolution.
   </li>
   <li>
     iOS V11.1.1 operating system with 1.3 GHZ Apple A11 Bionic hexa core processor, 3 GB RAM
   </li>
   <li>
    64 GB Internal memory and single RAM
   </li>
   <li>
     2716 mAH lithium-ion- battery
   </li>
  </ul>
</div>
<div class="products-cartbutton col-md-4 col-md-offset-4 col-sm-12">
   <a href="javascript:void(0)" (click)="AddTocart()" class="btn btn-primary"> Add to cart </a>
</div>
</div>
</section>