<div class="loading" *ngIf="isLoading">
  <span>
    <img id="loading-image" src="assets/images/spinner.gif" alt="Loading..." />
    <label>Please Wait....</label>
  </span>
</div>

<div class="loading" *ngIf="isRequestLoading">
  <span>
    <label>{{dynamicText}}</label>
    <br><img id="loading-image" src="assets/images/spinner.gif" alt="Loading..." /><br>
    <label>Please do not leave or close this page.</label>
  </span>
</div>
<!-- *ngIf="isloadingredirect" -->
<div class="loading" style="background:#1f4367" *ngIf="isloadingredirect">
  <span>
    <label>Payment Done Successfully.</label>
    <!-- <br><img id="loading-image" src="assets/images/spinner.gif" alt="Loading..." /><br> -->
    <label>Order will be delivered within three days</label>
  </span>
</div>
<div class="my-box-wallet verification" style="height: auto;">
  <div class="container">
    <!-- <div class="main-heading">
      Verification Form
    </div> -->
    <div class="stepwizard col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2 col-xs-12" *ngIf="showStepWizard">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a href="javascript:void(0)" type="button" [ngClass]="step1class">1</a>
          <p>Verify Identity</p>
        </div>
        <div class="stepwizard-step">
          <a href="javascript:void(0)" type="button" [ngClass]="step2class">2</a>
          <p>Accept Offer</p>
        </div>
        <div class="stepwizard-step">
          <a href="javascript:void(0)" type="button" [ngClass]="step3class">3</a>
          <p>Set-up Auto Repayment</p>
        </div>
      </div>
    </div>


    <div>
      <form (ngSubmit)="PanDetailSubmit(panform,verifyDetail)" #panform="ngForm" role="form" novalidate class="row setup-content"
        id="step-1" *ngIf="shownstep1">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 set-upcontentinner">
          <div class="col-md-12">
            <h3> Verify Identify </h3>
            <p>Please share the following details to proceed with MyBox EMI registration. <a href="#">Learn More</a>
            </p>
            <div class="form-group">
              <label class="control-label">PAN</label>
              <input maxlength="10" name="PanNumber" minlength="10" pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$"
                type="text" [(ngModel)]="panidentity.PanNumber" #PanNumber="ngModel" class="form-control" placeholder="Enter Your Pan"
                required />
              <div *ngIf="panform.submitted && PanNumber.errors" class="error">
                <div [hidden]="!PanNumber.errors.required">
                  *Pan number is required
                </div>
                <div [hidden]="!PanNumber.errors.pattern">
                  *Please enter valid pan number
                </div>

              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Aadhar Number</label>
              <input maxlength="12" name="AadharNumber" pattern="[0-9]+" minlength="12" type="text" [(ngModel)]="panidentity.AadharNumber"
                #AadharNumber="ngModel" class="form-control" placeholder="Enter Aadhar Number" required />
              <div *ngIf="panform.submitted && AadharNumber.errors" class="error">
                <div [hidden]="!AadharNumber.errors.required">
                  *Aadhar Number is required
                </div>
                <div [hidden]="!AadharNumber.errors.pattern">
                  *Please enter valid Aadhar Number
                </div>
                <div [hidden]="!AadharNumber.errors.minlength">
                  *Please enter valid Aadhar Number(12 digits)
                </div>

              </div>
            </div>
            <div class="form-group" *ngIf="isShowverification">
              <label class="control-label">Verification OTP <a href="javascript:void(0)" class="pull-right" (click)="ResendOTP()">
                  Resend OTP </a></label>
              <input maxlength="6" #otp="ngModel" name="otp" [(ngModel)]="panidentity.otp" type="text" class="form-control"
                placeholder="Enter OTP" />
              <p>OTP has been sent to the mobile number registered to your Aadhar Number</p>

            </div>
            <div class="form-group" *ngIf="!isShowverification">
              <div class="checkbox">
                <label><input type="checkbox" (change)="TermConditionChecked($event)"> I agree to MyBox EMI <a href="JavaScript:Void(0)">Terms
                    and Conditions</a></label>
              </div>
            </div>
            <div class="form-group" *ngIf="isShowverification">
              <button type="submit" class="btn btn-primary nextBtn continue-button btn-lg" (click)="OTPConfirm()">Continue</button>
              <a href="javascript:void(0)" (click)="SubmitOtpDetail(verifyDetail)" class="cancel-link pull-right"
                data-toggle="modal" data-target="#indentify-modal">Cancel</a>
            </div>
            <div class="form-group" *ngIf="!isShowverification">
              <button type="submit" class="btn btn-primary nextBtn continue-button btn-lg">Agree And Continue</button>
              <a href="javascript:void(0)" (click)="openIdentityDetails(verifyDetail)" class="cancel-link pull-right"
                data-toggle="modal" data-target="#indentify-modal">Cancel</a>
            </div>

          </div>

        </div>


      </form>
      <!-- shownstep2 -->
      <form (ngSubmit)="shownStep3(Emiform)" #Emiform="ngForm" role="form" novalidateclass="row setup-content" id="step-2"
        *ngIf="shownstep2">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 set-upcontentinner">
          <div class="col-md-12">
            <h3> Accept Offer </h3>
            <div class="accept-offersection">
              <div class="col-md-4">
                <img src="assets/images/accept-offerimage.png" alt="Accept Offer">
              </div>
              <div class="col-md-8 p-0">
                <h4>You Are Approved For 1,00,000</h4>
                <p>This limit can be used for multiple purchases on MyBox. Your EMIs will start only after purchase.</p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Please select offer against your card value</label>
              <input maxlength="10" type="text" name="CardAmount" #CardAmount="ngModel" [(ngModel)]="EmiModel.CardAmount"
                class="form-control emi-formcontrol" required (keyup)="CalculateEMI()" />
              <div *ngIf="Emiform.submitted && CardAmount.invalid && (CardAmount.dirty || CardAmount.touched)" class="error">
                <div [hidden]="CardAmount.errors.required">
                  Card Amount is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Applicable Interest Rate</label>
              <input maxlength="5" name="InterestRate" #InterestRate="ngModel" [(ngModel)]="EmiModel.InterestRate" type="number"
                class="form-control emi-formcontrol" required (keyup)="CalculateEMI()" />
              <div *ngIf="InterestRate.invalid && (InterestRate.dirty || InterestRate.touched)" class="error">
                <div *ngIf="InterestRate.errors.required">
                  Interest Rate is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Select Tenure in month</label>
              <input maxlength="2" type="text" disabled="true" name="Timeduration" #Timeduration="ngModel" [(ngModel)]="EmiModel.Timeduration"
                class="form-control  emi-formcontrol" required />
              <div *ngIf="Timeduration.invalid && (Timeduration.dirty || Timeduration.touched)" class="error">
                <div *ngIf="Timeduration.errors.required">
                  Card Amount is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <ion-range-slider #sliderElement type="single" [min]="1" max="12" grid="true" grid_num="11" prefix="month: "
                postfix=" months" decorate_both="false" (onUpdate)="sliderUpdate($event)" (onChange)="sliderChange($event)"
                (onFinish)="sliderFinish($event)"></ion-range-slider>
            </div>
            <div class="form-group">
              <label class="control-label">EMI</label>
              <input maxlength="10" type="text" name="EMIDetail" #EMIDetail="ngModel" [(ngModel)]="EmiModel.EMIDetail"
                class="form-control emi-formcontrol" required disabled="true" />
              <a href="javascript:void(0);" (click)="openIdentityDetails(emiDetail)" class="emi-tablelink">EMI Table</a>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox" (change)="AcceptOfferCheckEvent($event)"> I accept Capital First <a href="#">Loan
                    Agreement
                  </a> and agree to fulfill and related requirements.</label>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary nextBtn continue-button btn-lg" (click)="shownStep3(Emiform.value)" type="button"
                [disabled]="!Emiform.valid">Agree
                And Continue</button>
              <a href="#" class="cancel-link pull-right">Cancel</a>
            </div>
          </div>
        </div>
      </form>

      <form class="row setup-content" (ngSubmit)="Step3Submit(debitform)" #debitform="ngForm" role="form" id="step-3"
        *ngIf="shownstep3">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 set-upcontentinner">
          <div class="col-md-12">
            <h3> Bank account verification </h3>
            <div class="form-group" *ngIf="showbankdetail">
              <label class="control-label">Link your debit card or bank account to <b>Repay EMI automatically</b> on
                due dates</label>
              <label class="control-label">Bank Name</label>
              <select class="form-control" (change)="BankDetailsChanged($event)">
                <option value="">--Select Bank--</option>
                <option value="1">SBI</option>
                <option value="2">Axis</option>
              </select>
            </div>
            <div class="form-group" *ngIf="!ShowDebitCardDetail && !showbankdetail">
              <label class="radio-inline"><input type="radio" (change)="DebitCardCheck($event)" value="" name="a">Debit
                Card</label>
              <label class="radio-inline"><input type="radio" (change)="eNACHCheckedUsingNetBanking($event)" value=""
                  name="a">eNACH
                using netbanking</label>
              <label class="radio-inline"><input type="radio" (change)="eNACHChecked($event)" value="" name="a">eNACH</label>
              <br><br>
              <a href="#" class="what-enach">What Is eNACH</a>
            </div>

            <div class="form-group" *ngIf="ShowDebitCardDetail">
              <label class="control-label">Debit Card Number </label>

              <input maxlength="16" pattern="[0-9]+" name="DebitCardNumber" minlength="16" type="text" [(ngModel)]="DebitdetailModel.DebitCardNumber"
                #DebitCardNumber="ngModel" class="form-control" placeholder="Enter Debit card number" required>
              <div *ngIf="debitform.submitted && DebitCardNumber.errors" class="error">
                <div [hidden]="!DebitCardNumber.errors.required">
                  *Card number is required
                </div>
                <div [hidden]="!DebitCardNumber.errors.minlength">
                  *Please enter valid Debit card number
                </div>
                <div [hidden]="!DebitCardNumber.errors.pattern">
                  *Please 16 digit Debit card number
                </div>

              </div>
            </div>
            <div class="form-group" *ngIf="ShowDebitCardDetail">
              <label class="control-label">Debit Card Holder Name </label>
              <input maxlength="40" name="DebitcardHolderName" type="text" [(ngModel)]="DebitdetailModel.DebitcardHolderName"
                #DebitcardHolderName="ngModel" class="form-control" placeholder="Enter Debit card Holder Name" required>
              <div *ngIf="debitform.submitted && DebitcardHolderName.errors" class="error">
                <div [hidden]="!DebitcardHolderName.errors.required">
                  *Card Holder name is required
                </div>
              </div>
            </div>
            <div class="form-group expiry-group" *ngIf="ShowDebitCardDetail">
              <div class="col-md-6 p-0">
                <label class="control-label">Expiry</label>
                <div class="col-md-6 p-0">
                  <select class="form-control">
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">OCt</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                  </select>
                </div>
                <div class="col-md-6 pr-0" *ngIf="ShowDebitCardDetail">
                  <select class="form-control">
                    <option value="1">2018</option>
                    <option value="2">2019</option>
                    <option value="3">2020</option>
                    <option value="4">2021</option>
                    <option value="5">2022</option>
                    <option value="6">2023</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 pr-0" *ngIf="ShowDebitCardDetail">
                <label class="control-label">CVV</label>
                <input name="CVV" type="text" minlength="3" maxlength="4" pattern="[0-9]+" [(ngModel)]="DebitdetailModel.CVV"
                  #CVV="ngModel" class="form-control" placeholder="CVV" required>
                <div *ngIf="debitform.submitted && CVV.errors" class="error">
                  <div [hidden]="!CVV.errors.required">
                    *CVV is required
                  </div>
                  <div [hidden]="!CVV.errors.pattern">
                    *Please enter valid CVV
                  </div>
                  <div [hidden]="!CVV.errors.minlength">
                    *Please enter valid CVV
                  </div>
                </div>
              </div>

            </div>
            <!-- <div class="form-group" *ngIf="ShowDebitCardDetail">
              <button class="btn btn-primary nextBtn continue-button btn-lg" type="submit">Agree And Continue</button>
              <a href="#" class="cancel-link pull-right">Cancel</a>
            </div> -->
          </div>
          <div style="text-align: center">
            <button class="btn btn-primary nextBtn continue-button btn-lg" style="margin: auto" type="submit">Continue</button>
            <br>
            <br>
            <a href="#" class="cancel-link">Cancel</a>
          </div>
          <div class="form-group" style="border: 2px solid lightblue;
                padding: 10px;    margin-top: 11px;"
            *ngIf="ShowDebitCardDetail">
            <p>To verify your Debit card details,we will debit upto Rs. 5 from your account. We will refund this
              amount
              in next 3 working days</p>
          </div>
        </div>
      </form>

      <form *ngIf="showTermsConditions" class="row setup-content" (ngSubmit)="submitDebitagreementdetail(debitagreementform)"
        #debitagreementform="ngForm" role="form">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 set-upcontentinner">
          <div class="col-md-12">
            <h3 style="text-align:center">Terms and conditions </h3>



            <div class="form-group">
              <label class="control-label">Loan Amount </label>

              <input maxlength="12" pattern="[0-9]+" name="DebitLoanAmount" type="number" [(ngModel)]="DebitaggrementdetailModel.DebitLoanAmount"
                #DebitLoanAmount="ngModel" class="form-control" placeholder="Enter Loan Amount" required>
              <div *ngIf="debitagreementform.submitted && DebitLoanAmount.errors" class="error">
                <div [hidden]="!DebitLoanAmount.errors.required">
                  *Loan Amount is required
                </div>
                <div [hidden]="!DebitLoanAmount.errors.pattern">
                  *Please enter valid loan Amount
                </div>
                <div [hidden]="!DebitLoanAmount.errors.maxlength">
                  *Please enter valid loan (max-12 digit)
                </div>

              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Tenure(In months) </label>

              <input maxlength="2" pattern="[0-9]+" name="DebitTenure" type="number" [(ngModel)]="DebitaggrementdetailModel.DebitTenure"
                #DebitTenure="ngModel" class="form-control" placeholder="Enter Tenure(in months)" required>
              <div *ngIf="debitagreementform.submitted && DebitTenure.errors" class="error">
                <div [hidden]="!DebitTenure.errors.required">
                  *Tenure is required
                </div>



              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Interest rate(In %) </label>

              <input maxlength="6" pattern="[0-9]+" name="DebitIntrest" type="text" [(ngModel)]="DebitaggrementdetailModel.DebitIntrest"
                #DebitIntrest="ngModel" class="form-control" placeholder="Enter Interest(in %)" required>
              <div *ngIf="debitagreementform.submitted && DebitIntrest.errors" class="error">
                <div [hidden]="!DebitIntrest.errors.required">
                  *Interest rate is required
                </div>


              </div>
            </div>
            <div class="form-group">
              <label class="control-label">EMI </label>

              <input maxlength="16" pattern="[0-9]+" name="DebitEMi" type="text" [(ngModel)]="DebitaggrementdetailModel.DebitEMi"
                #DebitEMi="ngModel" class="form-control" placeholder="Enter Debit card number" required>
              <div *ngIf="debitagreementform.submitted && DebitEMi.errors" class="error">
                <div [hidden]="!DebitEMi.errors.required">
                  *EMI required
                </div>

                <div [hidden]="!DebitEMi.errors.pattern">
                  *Please provide valied EMI
                </div>

              </div>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox" [checked]="DebitaggrementdetailModel.isTermsconditionchecked" (change)="DebitaggrementdetailModel.isTermsconditionchecked = !DebitaggrementdetailModel.isTermsconditionchecked">
                  I agree to MyBox EMI <a href="JavaScript:Void(0)">Terms
                    and Conditions</a></label>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary nextBtn continue-button btn-lg" type="submit">Proceed
                to esign Loan agreement </button>
              <a href="javascript:Void(0)" (click)="Cancel()" class="cancel-link pull-right" onclick="CancleEligibility()">Cancel</a>
            </div>
          </div>
        </div>
      </form>

      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 set-upcontentinner" *ngIf="showEsign">
        <div class="col-md-12">
          <h3 style="text-align:center">eSign for acceptance of loan agreement</h3>
          <div class="form-group">
            <label>Aadhar Number **********4555{{AadharNumber}}</label>
            <p>OTP will be sent to the mobile number registered to your Aadhar Number</p>
          </div>
          <div class="form-group">
            <button class="btn btn-primary nextBtn continue-button btn-lg" type="submit" (click)="GetOTPVerification()">Continue</button>
            <a href="javascript:Void(0)" (click)="Cancel()" class="cancel-link pull-right">Cancel</a>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 set-upcontentinner" *ngIf="showOTPVerification">
        <div class="col-md-12">
          <h3 style="text-align:center">eSign for acceptance of loan agreement</h3>
          <div class="form-group">
            <label>Aadhar Number **********4555{{AadharNumber}}</label>
            <br>
            <label>Verification OTP</label>
            <a href="javascript:Void(0)" class="cancel-link pull-right">Resend OTP</a>
            <input maxlength="6" class="form-control" placeholder="Enter OTP" required>
            <p>OTP has been sent to the mobile number registered to your Aadhar Number</p>
          </div>
          <div class="form-group">
            <button class="btn btn-primary nextBtn continue-button btn-lg" type="submit" (click)="ShowConfirmation()">Continue</button>
            <a href="javascript:Void(0)" (click)="Cancel()" class="cancel-link pull-right" onclick="CancleEligibility()">Cancel</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 set-upcontentinner" *ngIf="showConfirmation">
        <div class="col-md-12">
          <h3 style="text-align:center">You have succesfully eSigned your loan document.</h3>
          <div class="form-group">
            <table border="1" style="border-collapse: collapse">
              <tr>
                <td>
                  <img src="assets/images/greenBadge.png" width="120" />
                </td>
                <td>
                  <label style="margin: 10px">
                    This document has been eSigned by Mona P.
                    <br>
                    <b>Date : 11/10/2018</b>
                    <br>
                    <b>Time : 18:30:35</b>
                    <br>
                    <b>Location : Banglore</b>
                  </label>
                </td>
              </tr>
            </table>
          </div>
          <div class="form-group">
            <button class="btn btn-primary nextBtn continue-button btn-lg" type="submit" (click)="RedirectToLoading()">Ok</button>
          </div>
        </div>
      </div>

    </div>
    
    <form class="row setup-content" role="form" *ngIf="showENACHForm">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 set-upcontentinner">
        <div class="col-md-12">
          <h3 style="text-align:center">eNACH Mandeate form </h3>
          <label>I, Mona P hereby authorize <span>
              <input type="text" disabled />
            </span>
            to debit
          </label>
          <div class="form-group">
            <label class="control-label">Account type</label>
            <select class="form-control" required>
              <option selected>Select</option>
              <option>SB</option>
              <option>CA</option>
              <option>SB-NRE</option>
              <option>SB-NRO</option>
              <option>Other</option>
            </select>
          </div>


          <div class="form-group">
            <label class="control-label">Bank Account Number</label>
            <input maxlength="16" pattern="[0-9]+" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label class="control-label">Name of Bank</label>
            <select class="form-control" required>
              <option selected>Select</option>
              <option>Axis Bank</option>
              <option>ICICI</option>
              <option>HDFC</option>
              <option>SBI</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">IFSC</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label class="control-label">Amount (in Rs)</label>
            <input type="text" class="form-control" required disabled>
          </div>
          <div class="form-group">
            <label class="control-label">Frequency</label>
            <select class="form-control" required disabled>
              <option selected>Monthly</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Debit type</label>
            <select class="form-control" required disabled>
              <option selected>Fixed Amount</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Duration</label>
            <div class="form-group" [formGroup]="myForm" novalidate class="col-xs-6">
              <label>From</label>
              <my-date-picker formControlName='fromDate' [options]="myDatePickerOptions" [disabled]="true"></my-date-picker>
            </div>
            <div class="form-group" [formGroup]="myForm" novalidate class="col-xs-6">
              <label>To</label>
              <my-date-picker formControlName='fromDate' [options]="myDatePickerOptions" [disabled]="true"></my-date-picker>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox">
                I agree for the debit of mandate processing charges by the bank whom I am authorizing to debit my
                account as per latest schedule of charges of the bank.
              </label>
            </div>

          </div>

          <div class="form-group center">
            <button class="btn btn-primary nextBtn continue-button" type="submit" (click)="AuthorizeeNACHForm()">Authorize</button>
            <a href="javascript:Void(0)" (click)="Cancel()" class="cancel-link pull-right">Cancel</a>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>



<modal #verifyDetail id="indentify-modal" class="indentify-content">
  <!-- <modal-header>
      <h4 class="modal-title">Verify Identify</h4>
    </modal-header> -->
  <modal-content>

    <!-- First Steps -->
    <div *ngIf="islevel1notprocessing">
      <img class="dot">
      <div class="processingdiv">Verifying Details.<br>
      </div>

    </div>
    <div *ngIf="islevel1processing">
      <img src="assets/images/spinner.gif" class="processingimage">
      <div class="processingdiv">Verifying Details.<br> Processing....
      </div>
    </div>
    <div class="circle-loader load-complete" *ngIf="islevel1processed">
      <div class="checkmark draw" style="display: block;"></div>

    </div>
    <div class="processingdiv1" *ngIf="islevel1processed">Verifying Details.<br>
    </div>

    <div class="vl"></div>

    <!-- Second Steps -->
    <!-- <div *ngIf="islevel2processing">
      <img src="assets/images/spinner.gif" class="processingimage"><div div class="processingdiv">Evaluate Profile.<br> Processing....
      </div>
    </div>

    <div *ngIf="islevel2notprocessing">
      <img class="dot"><div class="processingdiv1">Evaluate Profile.<br>
      </div>

    </div>
    <div class="circle-loader load-complete" *ngIf="islevel2processed">
      <div class="checkmark draw" style="display: block;"></div>

    </div>
    <div class="processingdiv1" *ngIf="islevel2processed">Evaluate Profile.
    </div>
    <div class="vl"></div> -->
    <!-- Third Steps -->
    <div *ngIf="islevel3processing">
      <img src="assets/images/spinner.gif" class="processingimage">
      <div class="processingdiv">Finalizing Limit<br> Processing....
      </div>
    </div>
    <div *ngIf="islevel3notprocessing">
      <img class="dot">
      <div class="processingdiv">Finalizing Limit.<br>
      </div>

    </div>
    <div class="circle-loader load-complete" *ngIf="islevel3processed">
      <div class="checkmark draw" style="display: inline-block;"></div>
    </div>
    <div class="processingdiv1" *ngIf="islevel3processed">Finalizing Limit.
    </div>
    <p class="eleigibiity-procedure"> It just take few seconds to complete.</p>
    <p class="eleigibiity-procedure2"> Please don't close or leave this page</p>


  </modal-content>
  <!-- <modal-footer>
  
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </modal-footer> -->


</modal>

<modal #emiDetail id="emitable-modal" class="indentify-content emitable-content" role="dialog">
  <!-- <div class="modal-dialog"> -->

  <modal-header>
    <h4 class="modal-title">EMI</h4>
  </modal-header>
  <!-- Modal content-->
  <!-- <div class="modal-content"> -->
  <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close" aria-hidde="true"></i></button>
          <h4 class="modal-title">EMI</h4>
        </div> -->
  <!-- <div class="modal-body"> -->
  <modal-content>
    <div class="form-group col-md-12" style="background: #d6d3d3">
      <label class="control-label">EMI</label>
      <input class="form-control" type="text">
      <div class="col-md-12 ">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>

        <!-- (chartHover)="chartHovered($event)" -->
        <!-- (chartClick)="chartClicked($event)"></canvas> -->
      </div>
    </div>
    <div class="payment-chart">
      <h2>Break-up of Total Payment</h2>
    </div>

    <div class="emipayment-table col-sm-12">

      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <th>Months</th>
            <th>EMI</th>
            <th>Principal</th>
            <th>Interest</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>10,464</td>
            <td>9,631</td>
            <td>833</td>
            <td>90,369</td>
          </tr>
          <tr>
            <td>2</td>
            <td>10,464</td>
            <td>9,711</td>
            <td>753</td>
            <td>80,658</td>
          </tr>
          <tr>
            <td>3</td>
            <td>10,464</td>
            <td>9,729</td>
            <td>672</td>
            <td>78,866</td>
          </tr>
          <tr>
            <td>4</td>
            <td>10,464</td>
            <td>9,956</td>
            <td>508</td>
            <td>60,993</td>
          </tr>
          <tr>
            <td>5</td>
            <td>10,464</td>
            <td>9,873</td>
            <td>591</td>
            <td>51,037</td>
          </tr>
          <tr>
            <td>6</td>
            <td>10,464</td>
            <td>9,873</td>
            <td>425</td>
            <td>40,998</td>
          </tr>
          <tr>
            <td>7</td>
            <td>10,464</td>
            <td>10,122</td>
            <td>342</td>
            <td>30,870</td>
          </tr>
          <tr>
            <td>8</td>
            <td>10,464</td>
            <td>9,873</td>
            <td>257</td>
            <td>20,669</td>
          </tr>
          <tr>
            <td>9</td>
            <td>10,464</td>
            <td>10,292</td>
            <td>172</td>
            <td>10,378</td>
          </tr>
          <tr>
            <td>10</td>
            <td>10,464</td>
            <td>10,378</td>
            <td>86</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </modal-content>
  <!-- <div class="modal-footer"> -->
  <modal-footer>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    <!-- </div> -->
  </modal-footer>
  <!-- </div> -->

  <!-- </div> -->
</modal>