<div class="container cartdetail">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs"><img src="assets/images/iphonex.png" height="100px" width="100px" alt="..." class="img-responsive"
              /></div>
            <div class="col-sm-10">
              <h4 class="nomargin">Apple iPhone X (Silver, 64 GB)</h4>
              <p>14.73 Centimeters (5.8 inch) Capacitive touchscreen with 2436 X 1125 pixels resolution.iOS V11.1.1 operating
                system with 1.3 GHZ Apple A11 Bionic hexa core processor, 3 GB RAM.64 GB Internal memory and single RAM.2716
                mAH lithium-ion- battery.</p>
            </div>
          </div>
        </td>
        <td data-th="Price"><i class="fa fa-rupee">90,000</i></td>
        <td data-th="Quantity">
          <input type="number" disabled="true" class="form-control text-center" value="1">
        </td>
        <td data-th="Subtotal" class="text-center">90,000</td>
        <td class="actions" data-th="">
          <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-danger btn-sm" style="margin-right: 5px"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="visible-xs">
        <td class="text-center"><strong>Total <i class="fa fa-rupee">90,000</i></strong></td>
      </tr>
      <tr>
        <td><a href="javascript:void(0)" class="btn btn-warning" style="display:none"><i class="fa fa-angle-left"></i> Continue
            Shopping</a></td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total <i class="fa fa-rupee">90,000</i></strong></td>
        <td><a href="javascript:void(0)" class="btn btn-success btn-block" (click)="ProceedCheckout()">Proceed to Checkout
            <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
  </table>
</div>