<section class="home-search">
  <div class="container">
  <div class="col-md-8 col-sm-8 p-0">
  <div class="input-group">
  <input type="text" class="form-control" placeholder="Search for...">
  <span class="input-group-btn">
  <button class="btn btn-primary homesearch-button" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</div><!-- /input-group -->
</div>
<div class="col-md-4 col-sm-4 pr-0">
    <!-- <img class="btn  approvedloan-button pull-right img-responsive" src="assets/images/Asset 9.png" />    -->
   
  <button class="btn btn-primary approvedloan-button pull-right" (click)="CheckforPreapproval()">Click For Pre-approved Loan</button>
</div>
</div>
</section>

<section class="products">
    <div class="container">
       <div class="col-md-6 p-0 text-center">
   <a href="javascript:void(0)" routerLink="/productDetail">
      <div class="products-image">
         <img src="assets/images/iphonex.png" class="img-responsive">
      </div>
      <div class="products-content">
            <h3>Apple iPhone X (Silver, 64 GB)</h3>
        <p><b>Price:</b> 90,000.00</p>
      </div>
    </a>	   
   </div>
   <div class="col-md-6 pr-0 text-center">
   <a href="javascript:void(0)" disable=true>
      <div class="products-image">
         <img src="assets/images/iphone7.png" class="img-responsive">
      </div>
      <div class="products-content">
            <h3>Apple iPhone 7 (Black, 32 GB)</h3>
        <p><b>Price:</b> 40,000.00</p>
      </div>
   </a>
   </div>
  </div>
</section>
<section class="adds-banner">
    <div class="col-md-6 p-0 pr-0">
     <img src="assets/images/add1.png" class="img-responsive">
  </div>
  <div class="col-md-6 p-0 pr-0">
     <img src="assets/images/add2.png" class="img-responsive">
  </div>
</section>