<div class="col-sm-offset-4 col-md-4 paymentoptionlist">
    <h2 class="heading" >Select a payment Method</h2>
    <div class="list-group">
      <a  class="list-group-item "><input type="radio" (change)="Selectpaymentoption($event)" name="paymentmethod" value="Credit Card"> Credit Card</a>
      <a  class="list-group-item"><input type="radio"   (change)="Selectpaymentoption($event)"  name="paymentmethod"  value="Debit Card"> Debit Card</a>
      <a  class="list-group-item"><input type="radio"   (change)="Selectpaymentoption($event)"  name="paymentmethod"  value=" Net Banking"> Net Banking</a>
      <a class="list-group-item"><input type="radio"   (change)="Selectpaymentoption($event)" name="paymentmethod"  value="BHIM UPI"> BHIM UPI</a>
      <a  class="list-group-item"><input type="radio"  (change)="Selectpaymentoption($event)"  name="paymentmethod"  value="NewWay"> New Way to pay<p style="margin-left: 17px;">pay with preapprove loan</p></a>
    </div>
    <a href="javascript:void(0)" class="btn btn-success btn-block" (click)="ProceedToPayment()" style="border-color:#1f4367;  background-color:#1f4367" >Continue
        <i class="fa fa-angle-right"></i></a>
  </div>
  